.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.page-title {
    color: #fce138;
    border-bottom: 4px #fce138 solid;
    padding: 0 80px 15px 80px;
    display: inline-block;
    font-weight: normal;
    font-style: italic;
}

article {
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 0 120px 15px 80px ;
    color: #024e76;
    text-align: justify;
}

article h3 {
    font-size: 25px;
    margin: 20px 0 20px 0;
}

article p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0 20px 0;
}

article ul {
    margin: 15px 20px 15px 20px;
}

article li {
    color: #39a6b2;
    margin: 10px 0 10px 0;
}